*.o
*.a
*.la
*.so
*.elc
*.pyc
Private.org

.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/session.*
.emacs.d/.session
.emacs.d/anything-c-adaptive-history
.emacs.d/org-clock-save.el

essay/*.html
essay/note/*.html
essay/note/private.org
www/images
sae/

code/py/dsgm/dsgm.db
code/py/dsgm/dsgm.conf     
code/cc/.sconsign.dblite
code/cc/astyle/test/test_astyle
code/cc/bench/t_cond
code/cc/bench/t_lock
code/cc/bench/t_mem
code/cc/bench/t_misc
code/cc/bench/t_time
code/cc/common/test/test_atomic
code/cc/common/test/test_compress
code/cc/common/test/test_cond
code/cc/common/test/test_fs
code/cc/common/test/test_proto_dynamic
code/cc/common/test/test_proto_serializer
code/cc/common/test/test_queue
code/cc/common/test/test_socket
code/cc/common/test/test_stress_queue
code/cc/common/test/test_utils
code/cc/common/test/test_zkclient
code/cc/itachi/test/asock_echo_client
code/cc/itachi/test/asock_echo_server
code/cc/itachi/test/echo_client
code/cc/itachi/test/echo_server
code/cc/itachi/test/test_cpu_handler
code/cc/itachi/test/test_net_handler
code/cc/sasuke/test/rpc_client
code/cc/sasuke/test/rpc_server
code/cc/sasuke/test/test_zmq
